body {
    margin: 0;
    inset: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background-color: #121212;
}

.container {
    width: 100%;
    height: 100%;
    inset: 0;
}

.monaco-container, .emulator-container {
    position: absolute;
    top: 0;
    height: 100%;
    color: #ffffff;
}

.emulator-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.emulator-display-container {
    overflow: hidden;
    padding-left: 10px;
    display: flex;
    flex: 1;
}

.emulator-display {
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
}

.emulator-display-error {
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
    color: #ff3333;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
}

.emulator-container .emu-region {
    overflow: hidden;
    padding-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.emu-data-container {
    flex: 1;
    display: flex;
}

.emu-data-info {
    flex: 1;
    padding: 0 10px;
}

.emu-controls {
    display: flex;
    align-items: center;
}

.emu-control-buttons {
    flex-grow: 1;
}

.emu-registers {
    margin-right: 5px;
}

.mem-goto {
    padding: 5px;
}

.prefixed-textbox {
    background: #303030;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 2px 2px 0 0;
    padding: 7px;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: text;
    position: relative;
}

.prefixed-textbox:focus-within {
    background: #404040;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.prefixed-textbox input[type="text"] {
    border: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    background-color: #303030;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 4px;
}

.prefixed-textbox input[type="text"]:focus {
    border: none;
    outline: none;
    background-color: #404040;
}

.prefixed-textbox .textbox-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #ff9800;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    clip-path: inset(0 50% 0 50%);
}

.prefixed-textbox:focus-within .textbox-bottom {
    clip-path: inset(0 0 0 0);
}

.monaco-line-highlight {
    background: #303030;
}

.monaco-glyph-margin {
    background-color: #3333ff;
    clip-path: polygon(90% 50%, 15% 10%, 15% 90%);
}

input[type="file"] {
    display: none;
}

button, .emu-file-upload {
    background-color: #303030;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 7px;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:hover, .emu-file-upload:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}